/* Cascading Style Sheet */

.title{
    font-size: 50px;
    font-weight: 400; /**Peso da fonte*/
}

#principais-estilos{
background-color: black;
color: white;
padding: 50px; /*Espacamento INTERNO*/
margin: 40px 10px; /*Espacamento EXERNO*/
border: 10px solid rgb(167, 12, 12);
border-radius: 15px;
}

#principais-estilos .paragrafo {
    font-size: 1,5rem;
    line-height: 1.2; /*Espacamento das linhas*/
    color: green;
    font-family: monospace;
}
 


#flexbox .container{
 /*Aplica o Diplay FLEX no PAI dos elementos
 
 Se mudar o Flex-direction de row(linha)
 para column(Coluna). 
 O Justfy-content sera o alinhamento VERTICAL.
 E align-items o alinhamento HORIZONTAL.   
 */
  display: flex;
  flex-direction: row; /* direcao do flex */
  gap: 20px; /*Espaco entre os elementos*/
  justify-content: space-around; /*Alinhamento Horizontal, espacamento entre so elementos etc..*/
  align-items: center; /*Alinhamento na VERTICAL*/ 
}

#flexbox .container .box{ 
  width: 200px;
  height: 200px;
  background-color: purple;
}

#flexbox .container .box-2{ 
    width: 200px;
    height: 400px;
    background-color: rgb(0, 113, 128);
  }

section#grid-layout {
    margin-top: 50px;
}

  #grid-layout .container-grid{
    display: grid;
    grid-template-columns: repeat(5, 1fr); /*Define a quantidade de colunas e o tamanho*/
    gap: 20px;
  }
/*O 1fr define que o grid ira ocupar todo o
espaco possivel, torna mais responsivo*/

  #grid-layout .container-grid .caixa{
    width:200px;
    height:200px;
    background-color: rgb(177, 20, 255);
  }